.backgroundimage {
  height: 14.5rem;

  @media (max-width: 1200px) {
    height: 12.5rem;
  }

  @media (min-width: 840px) and (max-height: 600px) {
    /* flex: 1; */
    height: 22.5%;
  }
}

.backgroundimage > img {
  height: 100%;
}
